<h2>User info</h2>

<% if @user.errors.any? %>
  <p><%= @user.errors.count %>errors  prohibited this obj from being saved:</p>
  <ul>
  	<% @user.errors.full_messages.each do |message| %>
  	<li><%= message %></li>
  	<% end %>
  </ul>
  <% end %>

<%= form_for(@user) do |f| %>
<p>Name<%= f.text_field :name, autofocus: true %></p>

<p>Image<br>
	<%= f.attachment_field :profile_image %></p>
<p>Introduction<%= f.text_area :introduction, autofocus: true %></p>




<%= f.submit "Update" %>
<% end %>