<div class="container">
<div class="row">

<%= render 'layouts/flash' %>



<div class="col-xs-3">
<%= render 'users/side', users: @users %>
</div>

<div class="col-xs-9">
<h1>Book detail</h1>
<table class="table table-striped">
	<tr>
		<td><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no-image.jpg",size:'50x50' %><br><%= link_to user_path(@user) do %>
			<%= @user.name %>
			<% end %></td>
			<td><%= link_to book_path do %>
				<%= @books.title %>
				<% end %>
			</td>
			<td><%= @books.body %></td>

			<% if @books.favorited_by?(current_user) %>
				<td><%= link_to book_favorites_path(@books), method: :delete do %>
					<i class="fas fa-heart" aria-hidden="true"></i>
					<%= @books.favorites.count %>
					<% end %>
				</td>
			<% else %>
				<td><%= link_to book_favorites_path(@books), method: :post do %>
					<i class="far fa-heart" aria-hidden="true"></i>
					<%= @books.favorites.count %>
					<% end %>
				</td>
			<% end %>

			<td>コメント数:<%= @books.book_comments.count %></td>


			<% if @books.user.id == current_user.id %>

<td><%= link_to edit_book_path(@books) do %>
<button type="button" class="btn btn-sm btn-success">Edit</button>
<% end %></td>
<td><%= link_to book_path(@books), method: :delete, data: { confirm: '本当に消しますか？'} do %>
<button type="button" class="btn btn-sm btn-danger">Destroy</button>
<% end %></td>

<% end %>

	</tr>
</table>

<p>&nbsp;</p>
<% @books.book_comments.each do |book_comment| %>
<table>
		<tr>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no-image.jpg",size:'50x50' %><br>
			<%= book_comment.user.name %>
		  </td>
		  <td>
		  	<%= book_comment.comment %>
		  </td>


		<% if book_comment.user.id == current_user.id %>

		  <td> &nbsp; <%= link_to book_book_comments_path(book_comment), method: :delete, data: { confirm: '本当に消しますか？'} do %>
		  <button type="button" class="btn btn-sm btn-danger">Destroy</button>

		  </td>
		<% else %>
		  <td></td>
		<% end %>
		<% end %>

		</tr>

</table>
<% end %>

<%= form_for [@books, @book_comment] do |f| %>
<p><%= f.text_area :comment %></p>
<%= f.submit "送信" %>
<% end %>

</div>
</div>
</div>