<!DOCTYPE html>
<html>
<head>
  <title>bookers2</title>
</head>


<body>
<% if user_signed_in? %>
  <li class="">
    <%= link_to 'Home', books_path %>
  </li>
  <li class="">
    ユーザー一覧
  </li>
  <li class="">
    本一覧
  </li>
  <li class="">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>

  <% else %>
  <li class="">
    <%= link_to 'Home', "#" %>
  </li>
  <li class="">
    アバウト
  </li>
  <li class="">
    <%= link_to "sign up", new_user_registration_path %>
  </li>
  <li class="">
    <%= link_to "login", new_user_session_path %>
  </li>
  <% end %>
</div>

<%= yield %>